
body {
  font-family: "Sans Serif", Helvetica, Times;
  color: #ffffff;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}

.home{
  margin: 50px auto auto auto;
  border: 2px solid;
  background-color: #F5F5DC;
  border-radius: 5px;
  width: 100px;
}

.dashsetup{
  margin: 25px auto auto auto;
  border: 2px solid;
  background-color: #9BDEFF;
  border-radius: 5px;
  width: 200px;
}

.setup{
  margin: 25px auto auto auto;
  border: 2px solid;
  background-color: #9BDEFF;
  border-radius: 5px;
  width: max-content;
  left: 10px;
  text-align: justify;
  padding: 10px;
}

button {
  margin: auto auto 10px auto;
}

.dbdisplay {
  margin: 25px auto auto auto;
  border: 2px solid;
  background-color: #F5F5DC;
  border-radius: 5px;
  width: max-content;
  padding: 10px;
}

#feedinput {
  margin-left: 15%;
  text-align: center;
  float: left;
}

#animalsam {

  border: 2px solid;
  border-color: black;
  margin-left: 15%;
  background-color: #F5F5DC;
  border-radius: 5px;
  width: 120px;
  padding: 10px;
  float: left;
}

#animalspm {
  border: 2px solid;
  border-color: black;
  margin-left: 5%;
  background-color: #9BDEFF;
  border-radius: 5px;
  width: 120px;
  padding: 10px;
  float: left;
}

#feedtimes {
  margin-top: 15%;
  margin-left: 0%;
  text-align: center;

}

#feedtime {
  border: solid;
  border-color: black;
  background-color: #77dd77;
  width: 120px;
  margin: 10px auto;
  border-radius: 5px
}

.shrimp {
  height: auto;
  max-width: 105%;
}

.banner {
  margin: 0px auto;
  padding: 0;
  height: 10%;
  width: 100%;
  overflow: hidden;
  border: solid;
  background-color: #80aaff;
  border-color: #000000;
  border-width: 2px 2px 2px 2px;
  border-radius: 4px;

}

.banner li {
  display: inline;
}
.navmenu {
  margin: 0px 0px 0px 0px;
  padding: 0;
  height: 100%;
  width: 20%;
  border: solid;
  background-color: #80aaff;
  border-color: #000000;
  border-width: 0px 2px 2px 2px;
  display: inline;
  border-radius: 4px;
  float: left;
}

.iterant {
  mar
}

a {
  color: #ffffff;
  text-decoration: none;
}

#homelink {
  font-size: 250%;
}

#shrimpicon {
  width: 4%;
  height: 4%;
  margin-right: 20px;
}
