{% extends "dashboard_bootstrap.html" %}

{% block content %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Did you feed the animals in the AM?</h3>
  </div>
  <div class="panel-body">
    <form action="{{ url_for('animals_fedam') }}" method="POST">
      <button type="submit" value="Confirm Fed">Confirm Fed</button>
    </form>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Did you feed the animals in the PM?</h3>
  </div>
  <div class="panel-body">
    <form action="{{ url_for('animals_fedpm') }}" method="POST">
      <button type="submit" value="Confirm Fed">Confirm Fed</button>
    </form>
  </div>
</div>




<div class="list-group">
  <h3 class="list-title">Today's Feeding Info</h3>
  {% for each in today %}
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Date Fed: {{ each.date.strftime('%d-%m-%Y') }}</h4>
    <p class="list-group-item-text"> Fed AM: {{ each.fed_am }} </p>
    <p class="list-group-item-text"> Fed PM: {{ each.fed_pm }} </p>
  </a>
  {% endfor %}
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">This Week's Feeding Info</h3>
  </div>
  <div class="panel-body">
    {% for day in week %}
    <div class="panel-body">
      <h4> {{ day.date.strftime('%d-%m-%Y') }} </h4>
      <p> {{ day.fed_am }} </p>
      <p> {{ day.fed_pm }} </p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
