<!doctype html>
<html>
  <head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>


  <body>
    <h1>Welcome to the Home setup page!</h1>
    <h2>Please enter information for the new house:</h2>


    <form method="POST" action="{{  url_for('submit_house_data')  }}">
      <div><input type="text" name='name'>Bequeath your House with a name</input></div>
      <div><input type="text" name='address'>What is the address of your house</input></div>
      <button type="submit"> Save House </button>
    </form>


    <div>
      <p>Already have a house setup?<a href="{{  url_for('setup_resident')  }}"> Setup a New Resident</a></p>
    </div>
    <div>
      <p><a href="{{  url_for('dashboard')  }}">Dashboard</a></p>
    </div>

  </body>

</html>
