<!doctype html>
<html>
  <head>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
  </head>


  <body>
    <h1>Welcome to the Resident Configuration Page!</h1>

    <div class="setup">
      <form method="POST" action="{{  url_for('submit_resident_data')  }}">
        <div><h3>New Roomie's Info:</h3></div>
        <p><input type="text" name='name'>Name</input></p>
        <p><input type="text" name='email'>Email</input></p>
        <p><input type="text" name='user_pin'>Pin Number</input></p>
        <p><input type="text" name='phone'>Phone Number</input></p>
        <p><input type="text" name='ip'>Static IP address</input></p>
        <p><input type="text" name='mac'>Phone's MAC address</input></p>
        <button type="submit"> Save Resident </button>
      </form>
    </div>

    <div class="dbdisplay">
      <h3>The following are the roomies already in the database:</h3>
      {% for each in residents %}
      <h3> {{ each.name }} </h3>
      <p>  {{ each.phone }}  </p>
      {% endfor %}

      <form action= "{{url_for('remove_resident')}}" method="post">
        <p>Type name of roomie to remove and click 'submit':</p>
        <input type="text" name="removeResident"></input>
        <button type="submit">Submit</button>
      </form>

    </div>

    <div>
      <p><a href="{{  url_for('setup_house')  }}">House Configuration Page</a></p>
    </div>

    <div>
      <p><a href="{{  url_for('dashboard')  }}">Dashboard</a></p>
    </div>

  </body>

</html>
